In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from time import time

In [55]:
df = pd.read_csv('datasets/SatisfactionClients/cdiscount_retraite.csv', index_col=0)
df_test = pd.read_csv('datasets/SatisfactionClients/amazon_test1.csv', index_col=0)
df.sample(3)

,pays,note,titre,commentaire,Commentaire_filtre,titre_filtre
70866,FR,4,SUPER RAPIDE,28 mai 2020VérifiéSUPER RAPIDEDate de l'expéri...,"['mai', 'vérifiésuper', 'rapidedate', 'expérie...","['super', 'rapide']"
27017,FR,5,TRES SATISFAISANT,3 août 2021Sur invitationTRES SATISFAISANTDate...,"['invitationtres', 'satisfaisantdate', 'expéri...","['tres', 'satisfaisant']"
50186,FR,5,C'est rapide et efficace....,12 déc. 2020Sur invitationC'est rapide et effi...,"['déc', 'invitationc', 'rapide', 'efficace', '...","['rapide', 'efficace']"

In [56]:
# séparation de la variable cible et des variables explicatives
X = df['Commentaire_filtre']
y = df['note']
print(X.shape)
print(y.shape)

(120000,)
(120000,)

In [57]:
# séparation du jeu de données en un dataset d'entrainement et un dataset de test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

In [58]:
# conversion des chaines de caratères en tokens numériques

from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(min_df=3)
X_train = vectorizer.fit_transform(X_train).todense()
X_test = vectorizer.transform(X_test).todense()

In [59]:
print(X_train.shape)
print(y_train.shape)

(96000, 14747)
(96000,)

In [60]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report

In [ ]:
# application du modèle de gradientBoosting sur les tokens numériques et calcul des prédictions
clf = GradientBoostingClassifier()
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print(clf.score(X_test, y_test), end='\n\n')

cr = classification_report(y_test, y_pred)
print(cr)

cm = pd.crosstab(y_test, y_pred, rownames=['données réelles'], colnames=['predictions'])
display(cm)

# vérification des résultats sur un jeu de test externe (100 commentaires amazon également répartis entre les étoiles)
df_test_token = vectorizer.transform(df_test['commentaire']).todense()
y_predict_test = clf.predict(df_test_token)

cm_test = pd.crosstab(df_test['note'], y_predict_test, rownames=['données réelles'], colnames=['predictions'])
display(cm_test)

cm_test2 = pd.crosstab(df_test['note'], y_predict_test, rownames=['données réelles'], colnames=['predictions'], normalize=0)
display(cm_test2)

for i in cm_test2.index:
    for j in cm_test2.columns :
        if (i==j and cm_test2.loc[i, j] > 0.5) :
            print("les prédictions correctes sont supérieures à 50% pour {} étoile(s) avec {} %".format(i, cm_test2.loc[i, j]*100))

C:\Users\t.fourtouill\Anaconda3\lib\site-packages\sklearn\utils\validation.py:727: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

In [53]:
# vérification des résultats sur un jeu de test externe (100 commentaires amazon également répartis entre les étoiles)
df_test_token = vectorizer.transform(df_test['commentaire']).todense()
y_predict_test = clf.predict(df_test_token)

cm_test = pd.crosstab(df_test['note'], y_predict_test, rownames=['données réelles'], colnames=['predictions'])
display(cm_test)

cm_test2 = pd.crosstab(df_test['note'], y_predict_test, rownames=['données réelles'], colnames=['predictions'], normalize=0)
display(cm_test2)

for i in cm_test2.index:
    for j in cm_test2.columns :
        if (i==j and cm_test2.loc[i, j] > 0.5) :
            print("les prédictions correctes sont supérieures à 50% pour {} étoile(s) avec {} %".format(i, cm_test2.loc[i, j]*100))

C:\Users\t.fourtouill\Anaconda3\lib\site-packages\sklearn\utils\validation.py:727: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

predictions      2   5
données réelles
1                0  20
2                1  19
3                0  20
4                0  20
5                0  20

predictions         2     5
données réelles
1                0.00  1.00
2                0.05  0.95
3                0.00  1.00
4                0.00  1.00
5                0.00  1.00

les prédictions correctes sont supérieures à 50% pour 5 étoile(s) avec 100.0 %

In [ ]:
[estimator.tree_.max_depth for estimator in clf.estimators_]

In [61]:
clf2 = GradientBoostingClassifier(n_estimators=2, learning_rate=1, random_state=0)
clf2.fit(X_train, y_train)

y_pred2 = clf2.predict(X_test)

print(clf2.score(X_test, y_test), end='\n\n')

cr2 = classification_report(y_test, y_pred2)
print(cr2)

# vérification des résultats sur un jeu de test externe (100 commentaires amazon également répartis entre les étoiles)
df_test_token = vectorizer.transform(df_test['commentaire']).todense()
y_predict_test = clf2.predict(df_test_token)

cm_test = pd.crosstab(df_test['note'], y_predict_test, rownames=['données réelles'], colnames=['predictions'])
display(cm_test)

cm_test2 = pd.crosstab(df_test['note'], y_predict_test, rownames=['données réelles'], colnames=['predictions'], normalize=0)
display(cm_test2)

for i in cm_test2.index:
    for j in cm_test2.columns :
        if (i==j and cm_test2.loc[i, j] > 0.5) :
            print("les prédictions correctes sont supérieures à 50% pour {} étoile(s) avec {} %".format(i, cm_test2.loc[i, j]*100))

C:\Users\t.fourtouill\Anaconda3\lib\site-packages\sklearn\utils\validation.py:727: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(
C:\Users\t.fourtouill\Anaconda3\lib\site-packages\sklearn\utils\validation.py:727: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(
C:\Users\t.fourtouill\Anaconda3\lib\site-packages\sklearn\utils\validation.py:727: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

0.658875

              precision    recall  f1-score   support

           1       0.51      0.44      0.47      2014
           2       0.13      0.03      0.05       565
           3       0.33      0.09      0.14      1399
           4       0.42      0.08      0.13      4885
           5       0.69      0.95      0.80     15137

    accuracy                           0.66     24000
   macro avg       0.42      0.32      0.32     24000
weighted avg       0.59      0.66      0.58     24000

C:\Users\t.fourtouill\Anaconda3\lib\site-packages\sklearn\utils\validation.py:727: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

predictions       1  2  3  4   5
données réelles
1                11  1  0  2   6
2                 9  1  1  2   7
3                 3  2  2  3  10
4                 4  0  1  4  11
5                 8  0  1  1  10

predictions         1     2     3     4     5
données réelles
1                0.55  0.05  0.00  0.10  0.30
2                0.45  0.05  0.05  0.10  0.35
3                0.15  0.10  0.10  0.15  0.50
4                0.20  0.00  0.05  0.20  0.55
5                0.40  0.00  0.05  0.05  0.50

les prédictions correctes sont supérieures à 50% pour 1 étoile(s) avec 55.00000000000001 %

In [62]:
clf3 = GradientBoostingClassifier(n_estimators=5, learning_rate=0.4)
clf3.fit(X_train, y_train)

y_pred3 = clf3.predict(X_test)

print(clf3.score(X_test, y_test), end='\n\n')

cr3 = classification_report(y_test, y_pred3)
print(cr3)

# affichage de la matrice de confusion pour voir si les données se sont bien classées
cm3 = pd.crosstab(y_test, y_pred3, rownames=['données réelles'], colnames=['données prédites'])
display(cm3)

# vérification des résultats sur un jeu de test externe (100 commentaires amazon également répartis entre les étoiles)
df_test_token = vectorizer.transform(df_test['commentaire']).todense()
y_predict_test = clf3.predict(df_test_token)

cm_test = pd.crosstab(df_test['note'], y_predict_test, rownames=['données réelles'], colnames=['predictions'])
display(cm_test)

cm_test2 = pd.crosstab(df_test['note'], y_predict_test, rownames=['données réelles'], colnames=['predictions'], normalize=0)
display(cm_test2)

for i in cm_test2.index:
    for j in cm_test2.columns :
        if (i==j and cm_test2.loc[i, j] > 0.5) :
            print("les prédictions correctes sont supérieures à 50% pour {} étoile(s) avec {} %".format(i, cm_test2.loc[i, j]*100))

C:\Users\t.fourtouill\Anaconda3\lib\site-packages\sklearn\utils\validation.py:727: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(
C:\Users\t.fourtouill\Anaconda3\lib\site-packages\sklearn\utils\validation.py:727: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(
C:\Users\t.fourtouill\Anaconda3\lib\site-packages\sklearn\utils\validation.py:727: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

0.6700416666666666

              precision    recall  f1-score   support

           1       0.72      0.45      0.55      2014
           2       0.09      0.01      0.01       565
           3       0.43      0.05      0.08      1399
           4       0.44      0.03      0.05      4885
           5       0.67      0.99      0.80     15137

    accuracy                           0.67     24000
   macro avg       0.47      0.30      0.30     24000
weighted avg       0.60      0.67      0.57     24000

données prédites    1   2   3    4      5
données réelles
1                 897  16  18   44   1039
2                 110   3  17   29    406
3                  89   9  64   55   1182
4                  61   1  40  136   4647
5                  93   5  11   47  14981

C:\Users\t.fourtouill\Anaconda3\lib\site-packages\sklearn\utils\validation.py:727: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

predictions       1  3  4   5
données réelles
1                10  0  0  10
2                 6  0  3  11
3                 3  1  5  11
4                 4  0  2  14
5                 2  0  1  17

predictions         1     3     4     5
données réelles
1                0.50  0.00  0.00  0.50
2                0.30  0.00  0.15  0.55
3                0.15  0.05  0.25  0.55
4                0.20  0.00  0.10  0.70
5                0.10  0.00  0.05  0.85

les prédictions correctes sont supérieures à 50% pour 5 étoile(s) avec 85.0 %

In [1]:
from joblib import dump, load

In [16]:
dump(clf, 'datasets/SatisfactionClients/model_gbc.jolib')

['datasets/SatisfactionClients/model_gbc.jolib']

In [63]:
dump(clf3, 'datasets/SatisfactionClients/model_gbc3.jolib')

['datasets/SatisfactionClients/model_gbc3.jolib']

In [9]:
clf = load('datasets/SatisfactionClients/model_gbc.jolib')