In [36]:
import pandas as pd
df = pd.read_csv('data_projet.csv', sep=';', encoding='utf8')

In [39]:
display(df.shape)
display(df.head(5))
display(df.info())
display(df.describe())
display(df.describe(include='object'))

(19863, 11)

,Commentaire,star,date,client,reponse,source,company,ville,maj,date_commande,ecart
0,"Bonjour , Ca doit faire 5 ans environ que je s...",1,2021-06-20 00:00:00+00:00,AUDREY Du 62,NaN,TrustPilot,ShowRoom,NaN,NaN,NaN,NaN
1,Vente lacoste article manquant photo prise sur...,1,2021-06-20 00:00:00+00:00,Nanasky De Verteuil,NaN,TrustPilot,ShowRoom,NaN,NaN,NaN,NaN
2,"Vente Lacoste Honteuse , article erroné , arti...",1,2021-06-19 00:00:00+00:00,Vanessa L,NaN,TrustPilot,ShowRoom,NaN,NaN,NaN,NaN
3,J'ai commandé des mules de la marque Moosefiel...,2,2021-06-19 00:00:00+00:00,Valery PERRAULT,"Bonjour , Je suis sincèrement navré d'apprendr...",TrustPilot,ShowRoom,NaN,NaN,NaN,NaN
4,Commande téléphone etat A+ . Livraison d un vi...,1,2021-06-19 00:00:00+00:00,JULIE DRINGENBERG,"Bonjour Julie , Je suis sincèrement désolé de ...",TrustPilot,ShowRoom,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19863 entries, 0 to 19862
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Commentaire    19834 non-null  object
 1   star           19863 non-null  int64
 2   date           19488 non-null  object
 3   client         10215 non-null  object
 4   reponse        8477 non-null   object
 5   source         19863 non-null  object
 6   company        19863 non-null  object
 7   ville          4860 non-null   object
 8   maj            5 non-null      object
 9   date_commande  6686 non-null   object
 10  ecart          6686 non-null   float64
dtypes: float64(1), int64(1), object(9)
memory usage: 1.7+ MB

None

               star        ecart
count  19863.000000  6686.000000
mean       3.408398    14.286419
std        1.650531    10.373320
min        1.000000     1.000000
25%        1.000000     9.000000
50%        4.000000    12.000000
75%        5.000000    17.000000
max        5.000000   304.000000

,Commentaire,date,client,reponse,source,company,ville,maj,date_commande
count,19834,19488,10215,8477,19863,19863,4860,5,6686
unique,17174,1880,7569,2033,2,2,2457,5,385
top,Parfait,12/06/2020,Client,"Bonjour , Merci d'avoir partagé votre expérien...",TrustedShop,ShowRoom,Paris,30/04/2021,19/08/2020
freq,284,257,31,1162,14503,16823,110,1,73

In [49]:
print(df['company'].unique())
print(df['source'].unique())
print(df['maj'].unique())

['ShowRoom' 'VeePee']
['TrustPilot' 'TrustedShop']
[nan '30/04/2021' '24/04/2021' '15/04/2021' '26/02/2021' '23/02/2021']

In [ ]:
# 2 company étudiées ShowRoom et VeePee
# 2 sites stockent des commentaires : TrustPilot et TrustedShop

In [48]:
print(df['source'][df['company']=='ShowRoom'].unique())
print(df['source'][df['company']=='VeePee'].unique())

['TrustPilot' 'TrustedShop']
['TrustPilot']

In [ ]:
# quand company = ShowRoom les avis peuvent être fait sur TrustPilot et TrustedShop
# quand company = VeePee les avis peuvent être fait sur TrustPilot

In [53]:
colonne = df.columns
NaN = [round((df[i].isna().sum()/len(df))*100, 2) for i in colonne]
NaN

[0.15, 0.0, 1.89, 48.57, 57.32, 0.0, 0.0, 75.53, 99.97, 66.34, 66.34]

In [54]:
result_NaN = {}
for i, j in zip(colonne, NaN):
    result_NaN[i] = j

In [55]:
result_NaN

{'Commentaire': 0.15,
 'star': 0.0,
 'date': 1.89,
 'client': 48.57,
 'reponse': 57.32,
 'source': 0.0,
 'company': 0.0,
 'ville': 75.53,
 'maj': 99.97,
 'date_commande': 66.34,
 'ecart': 66.34}

In [61]:
df_NaNpd.DataFrame.from_dict(result_NaN, orient='index')

                   0
Commentaire     0.15
star            0.00
date            1.89
client         48.57
reponse        57.32
source          0.00
company         0.00
ville          75.53
maj            99.97
date_commande  66.34
ecart          66.34